<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Template</title>
  <meta name="description" content="description">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/static/style.css">

  <!-- Link to Jquery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/script.js"></script>

  <!-- Add bootstrap to page -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <table id="main">
  <tr id="titleRow">
    <th>Timer name</th>
    <th>Time</th>

  </tr>
  <tr id="inputRow">
    <td><input type="text" id="timerName"></td>
    <td><input type="number" id="timeInput"></td>
    <td><button id="addTimer">Add timer</button></td>
  </tr>
  <tr>
    <td colspan="3">
      <button id="startStop">Pause all
      </button>
    </td>
  </tr>
</table>


</body>
</html>
